@font-face {
    font-family: 'MyFont';
    src: url('./1.ttf') format('woff2'),
    url('./2.ttf') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont', serif;
}